<!DOCTYPE html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title='Ondernemingsnummer')"></head>
<body>
	<h1 th:text='|Ondernemingsnummer ${brouwer.naam}'></h1>
	<dl>
		<dt>Oud ondernemingsnummer:</dt><dd th:if="${brouwer.ondernemingsNr != null}" th:text="${brouwer.ondernemingsNr}"></dd>
								       <dd th:if="${brouwer.ondernemingsNr == null}">nog niet ingevuld</dd>
	</dl>
	<form th:action='@{/brouwer/{id}/ondernemingsnummer(id=${brouwer.id})}' th:object='${ondernemingsNrForm}' method='post'>
		<label>
			Nieuw ondernemingsnummer: 
			<input type='number' th:field='*{ondernemingsNr}' required autofocus>
		</label>	
		<input type='submit' value='Bewaar'>
		<span th:if="${#fields.hasErrors('ondernemingsNr')}" th:errors='*{ondernemingsNr}'></span>
	</form>
</body>
</html>