<!DOCTYPE html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title='Ondernemingsnummer')"></head>
<body>
	<h1 th:text='|Ondernemingsnummer ${brouwer.naam}|'></h1>
	<form th:action='@{/brouwer/{id}/ondernemingsnummer(id=${brouwer.id})}' th:object='${ondernemingsNrForm}' method='post'>
		<table>
			<tr>
				<td>Oud ondernemingsnummer:</td>
				<td>
					<span th:if="${brouwer.ondernemingsNr != null}" th:text="${brouwer.ondernemingsNr}"></span>
					<span th:if="${brouwer.ondernemingsNr == null}">nog niet ingevuld</span>
				</td>
			</tr>
			<tr>
				<td>Nieuw ondernemingsnummer:</td>
				<td>
					<label>
						<input type='number' th:field='*{ondernemingsNr}' required autofocus>
						<span th:if="${#fields.hasErrors('ondernemingsNr')}" th:errors='*{ondernemingsNr}' class='fout'></span>
					</label>
				</td>	
			</tr>
			<tr>
				<td></td>
				<td><input type='submit' value='Bewaar'></td>
			</tr>
		</table>
	</form>
</body>
</html>