body {
	background-color: #FFFACD;
	font-family: sans-serif;
}

h1{
	color: #A0522D;
}

.fullwidth {
	margin-top: 10px;
	width : 100%;
}

blockquote {
	font-style: italic; 
}

#alfabet {
	list-style-type: none;
}

#alfabet li {
	display:inline;
} 

dt {
	clear:left;
	float: left;
	width: 12em;
}

dd {
	margin-left: 15em;
	font-weight: bold;
}

.fout {
	background-color : red;
	color : white;
	margin : 1em;
	padding : 0.5em;
}