<!DOCTYPE html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title='Proefpakket')"></head>
<body>
	<h1 th:text='#{proefpakket}'></h1>
	<blockquote th:text='#{eenPakketNaarKeuze}'></blockquote>
	<img th:alt='#{brouwerij}' th:src='@{/images/brouwerij.jpg}' class='fullwidth'>
	<blockquote th:if='${param.fout != null}' th:text='${param.fout}' class='fout'></blockquote> 
	<blockquote th:if='${param.fout == null}' th:text='#{kiesEenBrouwer}'></blockquote> 
	<ul id='alfabet'>
		<li th:each='letter:${alfabet}'>
			<a th:href='@{/(letter=${letter})}' th:text='${letter}'></a>
		</li>
	</ul>
	<ul id='taalkeuze'>
		<li>
			<a th:href='@{?locale=nl_BE}'>Nederlands</a>
		</li>	
		<li>
			<a th:href='@{?locale=fr_BE}'>Français</a>
		</li>
	</ul>
	<ul>
		<li th:each='brouwer:${brouwers}'>
			<a th:href='@{/brouwer/{id}(id=${brouwer.id})}' th:text='${brouwer.naam}'></a>
		</li>	
	</ul>
</body>
</html>